<option value="mosk">Москва</option>
<option value="sait">Санкт-Петербург</option>
<option value="sev">Севастополь</option>
<option value="al">Алтайский край</option>
<option value="am">Амурская обл</option>
<option value="ar">Архангельская обл</option>
<option value="ast">Астраханская обл</option>
<option value="bel">Белгородская обл</option>
<option value="brya">Брянская обл</option>
<option value="vlad">Владимирская обл</option>
<option value="volg">Волгоградская обл</option>
<option value="volog">Вологодская обл</option>
<option value="voron">Воронежская обл</option>
<option value="evr">Еврейская АО</option>
<option value="zab">Забайкальский край</option>
<option value="ivan">Ивановская обл</option>
<option value="baik">Байконур и проч</option>
<option value="irk">Иркутская обл</option>
<option value="kab-bal">Кабардино-Балкарская респ</option>
<option value="kalin">Калининградская обл</option>
<option value="kalyzh">Калужская обл</option>
<option value="kam">Камчатский край</option>
<option value="kar-cher">Карачаево-Черкесская респ</option>
<option value="kem">Кемеровская обл</option>
<option value="kir">Кировская обл</option>
<option value="kost">Костромская обл</option>
<option value="krasnodar">Краснодарский край</option>
<option value="krasnoyar">Красноярский край</option>
<option value="kyrg">Курганская обл</option>
<option value="kyrs">Курская обл</option>
<option value="len">Ленинградская обл</option>
<option value="lip">Липецкая обл</option>
<option value="mag">Магаданская обл</option>
<option value="mos">Московская обл.</option>
<option value="myr">Мурманская обл</option>
<option value="nen">Ненецкий АО</option>
<option value="nizh">Нижегородская обл</option>
<option value="novg">Новгородская обл</option>
<option value="novos">Новосибирская обл</option>
<option value="omsk">Омская обл</option>
<option value="oren">Оренбургская обл</option>
<option value="orl">Орловская обл</option>
<option value="penz">Пензенская обл</option>
<option value="perm">Пермский край</option>
<option value="prim">Приморский край</option>
<option value="psk">Псковская обл</option>
<option value="ad">респ. Адыгея</option>
<option value="alta">респ. Алтай</option>
<option value="bashk">респ. Башкортостан</option>
<option value="byr">респ. Бурятия</option>
<option value="dag">респ. Дагестан</option>
<option value="in">респ. Ингушетия</option>
<option value="kalm">респ. Калмыкия</option>
<option value="karel">респ. Карелия</option>
<option value="komi">респ. Коми</option>
<option value="krym">респ. Крым</option>
<option value="mar-el">респ. Марий Эл</option>
<option value="mord">респ. Мордовия</option>
<option value="sah-yak">респ. Саха (Якутия)</option>
<option value="sev-oset-alan">респ. Северная Осетия — Алания</option>
<option value="tatarst">респ. Татарстан</option>
<option value="tiva">респ. Тыва</option>
<option value="hakas">респ. Хакасия</option>
<option value="rost">Ростовская обл</option>
<option value="ryas">Рязанская обл</option>
<option value="samar">Самарская обл</option>
<option value="sar">Саратовская обл</option>
<option value="sah">Сахалинская обл</option>
<option value="sverd">Свердловская обл</option>
<option value="smol">Смоленская обл</option>
<option value="stavr">Ставропольский край</option>
<option value="tamb">Тамбовская обл</option>
<option value="tver">Тверская обл</option>
<option value="tomsk">Томская обл</option>
<option value="tyl">Тульская обл</option>
<option value="tum">Тюменская обл</option>
<option value="ydmyrt">Удмуртская респ</option>
<option value="ylyan">Ульяновская обл</option>
<option value="habar">Хабаровский край</option>
<option value="hant-mans">Ханты-Мансийский АО</option>
<option value="chelyab">Челябинская обл</option>
<option value="che">Чеченская респ</option>
<option value="chy">Чувашская респ</option>
<option value="chukot">Чукотский АО</option>
<option value="yam-nen">Ямало-Ненецкий АО</option>
<option value="yar">Ярославская обл</option>

