<!-- <th class="lis">
    <h4>1</h4>
  </th>
  <th class="lis">
    <a href="/save_list"><h4>Название списка</h4></a> 
  </th>
  <th class="lis">
    <h4>01-02-2022</h4>
  </th> -->

  <div class="row rang">

    <div class="col-sm-2">
      <h4 class="rang_suply"> 1 </h4>
    </div>
    <div class="col-sm-7">
        
      <a href="/save_list"> 
        <h4 class="name_supply"> Сохраненный список 1
        </h4>
      </a>
    </div>

    <div class="col-sm-3 ">
       <h4 class="price_suply"> 01-02-2022 </h4>
    </div>
  
  </div>