<div class="row rang">
    <div class="col-sm-7">
      <h4 class="listname"> Сохраненный список1 </h4>
    </div>
     <div class="col-sm-2 ">
        <h4><input type="checkbox" id="check2" name="is_admin"></h4>
     </div>
     <div class="col-sm-3 ">
        <button type="submit" class="save btn-primary btn"> Сохранить</button> 
     </div>
</div>