<div class="row rang">
    <div class="col-sm-4">
        
        <h4 class="name_supply"> ООО ТК "ТРАКТ СЕРВИС"
        </h4>
    </div>
    <div class="col-sm-4 ">
        
        <h4 class="name_supply"> 
            Труба стальная электросварная круглая</h4>
    </div>
    <div class="col-sm-2 ">
       <h4 class="price_suply"> 97 503,33 </h4>
    </div>
    <div class="col-sm-1 ">
        <h4 class="rang_suply"> 2.13 </h4>
    </div>
    <div class="col-sm-1 text-center">
        <a href="/provider" type="button" class="btn-primary btn"> <span class="glyphicon glyphicon-info-sign"></span> </a>
    </div>
  
  </div>